@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
@import "tailwindcss";

*{
  box-sizing: border-box;
}

button{
  cursor: pointer;
}

.island-moments-regular {
  font-family: "Island Moments", cursive;
  font-weight: 600;
  font-style: normal;
}