@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
@import "tailwindcss";

button{
  cursor: pointer;
}

.island-moments-regular {
  font-family: "Island Moments", cursive;
  font-weight: 400;
  font-style: normal;
}